$white: #ffffff;
$denim: #386274;
$camo: #7f864f;
$black: #000000;
$very-light-pink: #f7f6f5;
$brown-grey: #999999;
$black-two: #333333;
$white-two: #f7f5f4;
$stone: #9a9f7c;
$putty: #aeb57e;
$very-light-brown: #dbca9c;
$greyish-brown: #68714a;
$cool-grey: #abb0b1;
$silver: #c2c4c3;
$beige: #f5edd7;
$light-grey: #c4d3b4;
$lichen: #9eba86;
$brown-grey: #857a69;
$light-grey-blue: #88b5d8;
$bluegrey: #7ca2b1;
$light-grey-blue-two: #8ac6cb;
$white-three: #d9d9d9;
$marine-blue: #012765;
$bluegrey-two: #7e9fab;
$bluegrey-three: #92b3c1;
$blue-grey: #7b9ca8;
$light-mauve: #ca90ba;
$pale-grey: #efd5e9;
$warm-grey: #a2a2a2;
$parchment: #fffcaa;
$dark-taupe: #725c43;
$pale: #fff9ce;
$copper: #ba622a;
$warm-grey-two: #908984;
$cloudy-blue: #cfe0e2;
$rusty-red: #b90d0d;
$black-three: #363636;
$greyish-brown-two: #555555;
$maize: #f1bc68;
$black-four: #222222;
$blush: #eaa497;
$buff: #fff5a8;
$dark-peach: #ea7878;
$brownish-grey: #6f6969;
$black-five: #343434;
$warm-grey-three: #968c7f;
