$white: #ffffff;
$denim: #386274;
$camo: #7f864f;
$black: #000000;
$very-light-pink: #f7f6f5;
$brown-grey: #999999;
$black-two: #333333;
$white-two: #f7f5f4;
$stone: #9a9f7c;
$putty: #aeb57e;
$very-light-brown: #dbca9c;
$greyish-brown: #68714a;
$cool-grey: #abb0b1;
$silver: #c2c4c3;
$beige: #f5edd7;
$light-grey: #c4d3b4;
$lichen: #9eba86;
$brown-grey: #857a69;
$light-grey-blue: #88b5d8;
$bluegrey: #7ca2b1;
$light-grey-blue-two: #8ac6cb;
$white-three: #d9d9d9;
$marine-blue: #012765;
$bluegrey-two: #7e9fab;
$bluegrey-three: #92b3c1;
$blue-grey: #7b9ca8;
$light-mauve: #ca90ba;
$pale-grey: #efd5e9;
$warm-grey: #a2a2a2;
$parchment: #fffcaa;
$dark-taupe: #725c43;
$pale: #fff9ce;
$copper: #ba622a;
$warm-grey-two: #908984;
$cloudy-blue: #cfe0e2;
$rusty-red: #b90d0d;
$black-three: #363636;
$greyish-brown-two: #555555;
$maize: #f1bc68;
$black-four: #222222;
$blush: #eaa497;
$buff: #fff5a8;
$dark-peach: #ea7878;
$brownish-grey: #6f6969;
$black-five: #343434;
$warm-grey-three: #968c7f;
$beige-two: #f8f3ee;
$beige-three: #f2f1e3;
$white-four: #d4d4d4;
$milk-chocolate: #643d25;
$pale-two: #ffefd8;
$warm-grey-four: #888888;
$pinkish-grey: #c8b9a5;
$blush-two: #ecb9a0;
$putty-two: #c0c79d;
$pinkish-grey-two: #cccccc;
$light-blue-grey: #a2c5e3;
$steel-grey: #6a8387;
$sandy: #ebeb75;
$white-five: #f5f5f5;
$grey-brown: #7e6d57;
$sandstone: #cb9071;
$coral: #f55858;
$white-six: #eeeeee;
$light-khaki: #dfea8e;
$military-green: #5f6a42;
$beige-four: #efbcad;
$cloudy-blue-two: #a5ced0;
$tomato: #f15339;
$white-seven: #f7f7f7;
$pinkish-grey-three: #d6cab4;
$fawn: #cc9172;
$camel: #c48360;
$taupe: #b5a17a;
$beige-five: #e9ebc3;
$pinkish-tan: #dfb19e;
$clay: #b6614d;
$light-blue-grey-two: #d4e5f2;
$beige-six: #f2dbdb;
$light-grey-green: #c5cfa8;
$off-white: #f4f0e9;
$brownish-grey: #666666;
