// Responsive Web Design
$breakpoints: (
  // min default
  'sm':
    (
      min-width: 576px,
    ),
  'md': (
    min-width: 768px,
  ),
  'lg': (
    min-width: 992px,
  ),
  'xl': (
    min-width: 1200px,
  ),
  'xxl': (
    min-width: 1400px,
  ),
  'hg': (
    min-width: 1440px,
  ),
  // max
  'msm':
    (
      max-width: 576px,
    ),
  'mmd': (
    min-width: 768px,
  ),
  'mlg': (
    min-width: 992px,
  ),
  'mxl': (
    min-width: 1200px,
  ),
  'mxxl': (
    min-width: 1400px,
  ),
  'mhg': (
    max-width: 1440px,
  )
);
/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respondTo($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
			+ 'Please make sure it is defined in `$breakpoints` map.';
  }
}
