.section.hero {
  position: relative;
  background-color: $off-white;
  color: $brownish-grey;
  @include respondTo('xl') {
    color: $black-four;
  }
  .logo {
    max-width: 227px;
    width: 14vw;
  }
  .divider {
    margin-bottom: 70px;
  }
  .body {
    text-align: right;
  }
  .container {
    @include respondTo('mlg') {
      --bs-gutter-x: 40px;
    }
    padding-top: 50px;
    padding-bottom: 50px;
    @include respondTo('lg') {
      padding-top: 140px;
      padding-bottom: 140px;
    }
  }
  .container.position-absolute {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    @include respondTo('mmd') {
      padding-top: 35px;
      padding-bottom: 0px;
    }
  }
  h2 {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 14px;
    @include respondTo('lg') {
      margin-bottom: 20px;
      font-size: 26px;
    }
  }
  h1 {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 25px;
    @include respondTo('lg') {
      margin-bottom: 30px;
      font-size: 36px;
    }
  }
  .pointBg {
    box-shadow: inset 0px -0.8em 0px 0px $sandy;
    font-weight: 800;
  }
}
