.section.hero {
  position: relative;
  color: $brownish-grey;
  display: flex;
  flex-wrap: wrap;
  @include respondTo('mxxl') {
    background-color: $off-white;
  }
  p {
    font-size: 16px;
    @include respondTo('msm') {
      font-size: 14px;
      letter-spacing: -0.03em;
    }
  }
  @include respondTo('xl') {
    color: $black-four;
  }
  img {
    width: 100%;
    // max-width: 1920px;
    margin: 0 auto;
  }
  .logo {
    max-width: 151px;
    width: 14vw;
    align-self: center;
  }
  .divider {
    margin-bottom: 70px;
    @include respondTo('mmd') {
      margin-bottom: 50px;
    }
  }
  .body {
    text-align: right;
  }
  .container {
    @include respondTo('mlg') {
      --bs-gutter-x: 28px;
    }
    padding-top: 50px;
    padding-bottom: 50px;
    @include respondTo('xl') {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @include respondTo('xxl') {
      padding-top: 140px;
      padding-bottom: 140px;
    }
    &.position-absolute {
      @include respondTo('mmd') {
        display: none;
      }
    }
  }
  .container.position-absolute {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    @include respondTo('mmd') {
      padding-top: 35px;
      padding-bottom: 0px;
    }
  }
  h2 {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 14px;
    @include respondTo('lg') {
      margin-bottom: 20px;
      font-size: 26px;
    }
  }
  h1 {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 25px;
    @include respondTo('lg') {
      margin-bottom: 30px;
      font-size: 36px;
    }
  }
  .pointBg {
    box-shadow: inset 0px -0.8em 0px 0px $sandy;
    font-weight: 800;
  }
}
