.homepage .section4 {
  background-color: $beige;
  color: $dark-taupe;
  transition: background-color 0.3s ease-in-out;

  &[data-slide='1'] {
    background-color: $beige;
    @include respondTo('md') {
      background-color: #f8e5e2;
    }
  }
  &.active .layer {
    --count: 0;
    &:not([data-slide]) {
      .path2626 {
        opacity: 1 !important;
      }
    }
    &[data-slide='0'] {
      --count: 0;
      .cls-4 {
        opacity: 0.5;
      }
      .path2626 {
        opacity: 1 !important;
      }
    }
    &[data-slide='1'] {
      --count: 1;
      .sum {
        fill: #d6b99f !important;
      }
      .cls-1,
      .path2882 {
        opacity: 1 !important;
      }
    }
    .path2626,
    .path2882 {
      --motion: calc(var(--count) * -50px);
      --motionScale: calc(1 - var(--count) * 0.03);
      left: 465px;
      top: 50%;
      transform: scale(var(--motionScale)) translateY(-50%)
        translateX(var(--motion));
      transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    }
    .path43 {
      --motion: calc(var(--count) * -50px);
      bottom: 0;
      transform: translateX(var(--motion));
      transition: transform 1s ease-in-out;
    }
  }
  .layer {
    .path2882,
    .path2626 {
      opacity: 0;
    }
    .path2626 {
      left: 465px;
      top: 50%;
      transform: scale(0.88) translateY(-50%) translateX(0);
    }
    .path43 {
      bottom: 0;
      transform: translateX(200px);
      path {
        transition: all 0.6s ease-in-out;
      }
      .sum {
        fill: #c4d3b4;
        transition: all 0.6s ease-in-out;
      }
      .cls-1 {
        opacity: 0;
      }
    }
  }
  h1 {
    color: $dark-taupe;
  }
  .container {
    padding-top: 120px;
    padding-bottom: 120px;
    @include respondTo('lg') {
      max-width: 900px;
    }
  }
  .pointBg {
    box-shadow: inset 0px -0.8em 0px 0px $pale;
    color: $copper;
  }
  img.main {
    &.cp {
      width: 80vw;
      max-width: 500px;
    }
  }
}
