body[class*='page-template-page-tk'],
body[class*='page-template-page-jn'] {
  nav.GNB.mobile:not(.shrink) {
    .hamburgerButton svg path {
      stroke: $warm-grey-three !important;
    }
    .cls-2 {
      fill: $warm-grey-three !important;
    }
  }
}

nav.GNB.mobile {
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba($black, 0.05);
  height: 60px;
  &:not(.shrink) {
    background-color: transparent;
    .hamburgerButton svg path {
      stroke: $white;
    }
    .logo svg .cls-2 {
      fill: $white;
    }
  }
  &.active {
    .cls-2 {
      fill: $warm-grey-three !important;
    }
    .hamburgerButton svg path {
      stroke: $warm-grey-three !important;
    }
  }
  &.shrink {
    border-bottom: none;
  }
  .rightWrap {
    display: flex;
    align-items: center;
  }
  .logo {
    position: relative;
    padding: 0;
    transform: none;
    top: auto;
    padding-left: 20px;
    > svg {
      width: 64px;
    }
    .cls-2 {
      fill: $warm-grey-three;
      transition: fill 0.3s ease-in-out;
    }
    @include respondTo('lg') {
      padding-left: 24px;
    }
  }

  &.mbOver {
    .rightWrap {
      width: 100%;
      background-color: #443f3f;
    }
    ul.quickAction {
      display: flex;
    }
    .logo,
    .sponsor {
      display: none;
    }
    .hamburgerButton svg path {
      stroke: $white;
    }
  }
}
