body.admin-bar {
  .MobilesubMegaMenu {
    top: 46px;
    @media screen and (min-width: 783px) {
      top: 32px;
    }
  }
  .MobilesubMegaMenu.shrink {
    top: 0;

    @media screen and (min-width: 600px) {
      top: 46px;
    }
    @media screen and (min-width: 783px) {
      top: 32px;
    }
  }
}

.pageTemplate div.container.MobilesubMegaMenu {
  margin-top: 60px;
  z-index: 7000;
  background-color: $white;
  transition: all 0.3s ease-in-out;
  justify-content: center;
  max-width: unset;

  ul {
    padding: 0;
    margin-bottom: 0;
    display: flex;
    list-style: none;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 4px;
      height: 4px;
    }

    li {
      margin-top: 17px;
      margin-bottom: 17px;
      padding: 0 10px;

      &.current {
        a {
          color: $cocoa;
          font-weight: 800;
        }
        .innerWrap {
          border: 3px solid $cocoa;
          img {
            transform: scale(1.05);
          }
        }
      }

      a {
        text-decoration: none;
        text-align: center;
        word-break: keep-all;
        font-weight: 400;
        white-space: nowrap;
      }
      .imgWrap {
        width: 90px;
        height: 90px;
        margin: 0 auto;
        margin-bottom: 10px;
        .innerWrap {
          border-radius: 999px;
          overflow: hidden;
          width: 100%;
          height: 100%;
        }
      }
      .body {
        font-size: 16px;
        color: $brown-grey;
      }
    }
  }
}
